.event-log {
    font-family: consolas, Monaco, monospace;
    margin: 10px 5px;
    line-height: 2;
    border: 1px solid #4c4c4c;
    height: auto;
    width: 95%;
    padding: 2px 6px;
    color: #4c4c4c;
    white-space: pre;
}
#submit{
    margin-left: 110px;
}