<style type="text/css">
	.g-signin2{
		margin-left: 500px;
		margin-top: 200px;
	}
	.data{
		display: none;
	}
	.test{
		display: none;
	}
</style>
<SignIn>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<div class="data">
		<p>Profile Details</p>
		<img id="pic" class="img-circle" width="100" height="100">
		<p>Email Address</p>
		<p id="email" class="alert alert-danger"></p>
		<button onclick="signOut()" class="btn btn-danger">Sign Out</button>
	</div>
</SignIn>